<article class="post">
  <div class="title-wrapper">
    <a href="/post/{{id}}">
      <h2 class="title">{{title}}</h2></a>
    <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
  </div>
  <div class="post-text">
    {{format_post text}}
  </div>
  <div class="comment-wrapper">
    <a href="/post/{{id}}">{{comments.length}}
      {{format_plural "comment" comments.length}}</a>
  </div>
</article>